<div class="content-header clearfix">
   <h1>{{items.name}}</h1>
</div>
<hr class="invisible">
<div class="content-main" data-region="content">
   <div class="row">
      <div class="col-md-6">
         Leadership
         <span title="Leader" class="glyphicon glyphicon-king"></span>
         <span class="badge">{{leader.name}}</span>
         <span title="Co-Leader" class="glyphicon glyphicon-queen"></span>
         <span class="badge">{{coleader.name}}</span>
      </div>
      <div class="col-md-2">
         Best chain <span class="badge">{{items.best_chain}}</span>
      </div>
      <div class="col-md-2">
         Respect <span class="badge">{{items.respect}}</span>
      </div>
      <div class="col-md-2">
         Rank <span class="badge">{{items.rank}}</span>
      </div>
   </div>
   <hr />
   <div class="table-responsive">
      <table class="table table-striped table-bordered table-condensed">
         <tr>
            <th class="text-center" colspan="3"><h4><span class="glyphicon glyphicon-user"></span> Members</h4></th>
         </tr>
         <tr>
            <th class="text-right"><a href="" ng-click="order('members', '_id')">ID</a></th>
            <th><a href="" ng-click="order('members', 'name')">Name</a></th>
            <th class="text-right"><a href="" ng-click="order('members', 'days_in_faction')">Days in faction</a></th>
         </tr>
         <tr dir-paginate="member in items.members | orderBy:predicate:reverse | itemsPerPage:itemsPerPage" current-page="currentPage">
            <td class="text-right">{{member._id}}</td>
            <td>{{member.name}}</td>
            <td class="text-right">{{member.days_in_faction}}</td>
         </tr>
      </table>
      <dir-pagination-controls boundary-links="true"></dir-pagination-controls>
   </div>
</div>
<pre>{{items | json}}</pre>
